{{- $section2 := .Site.Params.section2 }}
{{- if isset $section2 "title" }}
{{- $title := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}

<section class="section is-medium">
  <div class="container">
    <div class="column is-centered-tablet-portrait">
      <h1 class="title section-title">{{ $title }}</h1>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider"></div>
      <!-- Add some height below the divider -->
      <div style="margin-bottom: 40px;"></div>
    </div>
    
    <div class="columns">
      
     

        <!-- Latest Posts Section -->
        <section class="latest-posts">
          <div class="row">
            {{ range first 12 .Site.RegularPages.ByDate.Reverse }}
            {{ if and (gt .WordCount 10) (.Params.image) }}
            {{- partial "list-partials/postbox.html" . -}}
            {{ end }}
            {{ end }}
          </div>
        </section>
        <!-- End Latest Posts Section -->


    </div>
  </div>
</section>
{{- end }}